<mat-card class="container">
  <mat-card-title>¡Bienvenido! Ahora podras consultar los documentos de cada una de las guías de transporte.</mat-card-title>
  <mat-card-content class="container-content">
    <!-- Barra de busquedad -->
    <div class="container-content-search">
      <input type="number" [(ngModel)]="idGuiaTransporte" placeholder="Ingresa el número de guía de transporte...">
    </div>
    <div class="container-content-search-button">
      <button mat-button matSuffix mat-icon-button (click)="buscarGuiaTransportePorId()" aria-label="Buscar"> Buscar...
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- Resultado busquedad -->
    <mat-card *ngIf="verResultados" class="content-result">
      <!-- Especificaciones de la guía de transporte -->
      <mat-card-header>
        <img mat-card-avatar src="../assets/img/foto-pedido.png" class="example-header-image">
        <mat-card-title>Guía de transporte # {{guiaTransporte.idGuiaTransporte?.toString()}}</mat-card-title>
        <mat-card-subtitle>Cliente {{guiaTransporte.cliente?.nombre}}</mat-card-subtitle>
        <mat-card-subtitle>Destino {{guiaTransporte.destino}}</mat-card-subtitle>
        <!-- Seleccionar el archivo-->
        <mat-card-subtitle class="archivo-guia">
          
        <div *ngIf="guiaTransporte.fotoPrueba==''">
          <mat-card-subtitle>Seleccionar archivo  /  Subir</mat-card-subtitle>
          <input type="file" id="fileUpload" (change)="capturarArchivo($any($event))" #fileUpload />
          <!-- Cargar archivo -->
          <button title="agregarDocumento" (click)="cargarArchivoG(guiaTransporte.idGuiaTransporte)" mat-icon-button
            color="primary">
            <mat-icon>upload</mat-icon>
          </button>
        </div>
        <div *ngIf="guiaTransporte.fotoPrueba!=''">
          <!-- Descargar -->
          {{guiaTransporte.fotoPrueba}}
          <button mat-icon-button title="agregarDocumento" (click)="descargarArchivo(guiaTransporte.fotoPrueba)">
            <mat-icon>download</mat-icon>
          </button>
          <!-- Eliminar -->
          <button mat-icon-button title="agregarDocumento"
            (click)="mostrarDialogoG(guiaTransporte.fotoPrueba, guiaTransporte.idGuiaTransporte)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>

      </mat-card-header>

      <mat-card-content>
        <!-- Barra de progeso para el manejo de archivos -->
        <div *ngIf="barraCarga">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <mat-card class="container-table">
          <!-- Tabla de los documentos de entrega -->
          <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
            <ng-container matColumnDef="idDocumentoEntrega">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.idDocumentoEntrega}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaDespacho">
              <th mat-header-cell *matHeaderCellDef> Fecha despacho </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaDespacho}} </td>
            </ng-container>

            <ng-container matColumnDef="estadoEntrega">
              <th mat-header-cell *matHeaderCellDef> Estado entrega</th>
              <td mat-cell *matCellDef="let element" class="content"> {{element.estadoEntrega}} </td>
            </ng-container>

            <!-- Columna para ver el nombre del documento de entrega/Seleccionar documento-->

            <ng-container matColumnDef="fotoPrueba">
              <th mat-header-cell *matHeaderCellDef> Foto Prueba </th>
              <td mat-cell *matCellDef="let element">
                <!-- Ver el nombre del documento -->
                <div *ngIf="element.fotoPrueba!=''">
                  {{element.fotoPrueba}}
                </div>
                <!-- Seleccionar el archivo-->
                <div *ngIf="element.fotoPrueba==''">
                  <input type="file" id="fileUpload" (change)="capturarArchivo($any($event))" #fileUpload />
                </div>
              </td>
            </ng-container>

            <!-- Columna de acciones para el documento-->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Acciones documento</th>
              <td mat-cell *matCellDef="let element">
                <!-- Manipular el documento que ya esta cargado-->
                <div *ngIf="element.fotoPrueba!=''">
                  <!-- Descargar -->
                  <button mat-raised-button title="agregarDocumento" (click)="descargarArchivo(element.fotoPrueba)">
                    <mat-icon>download</mat-icon>
                  </button>
                  <!-- Eliminar -->
                  <button mat-raised-button title="agregarDocumento"
                    (click)="mostrarDialogo(element.fotoPrueba, element.idDocumentoEntrega)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- Manipular para cargarlo-->
                <div *ngIf="element.fotoPrueba==''">
                  <!-- Cargar archivo -->
                  <button title="agregarDocumento" (click)="cargarArchivo(element.idDocumentoEntrega)"
                    mat-stroked-button color="primary">
                    <mat-icon>upload</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>